<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div th:fragment="forms(questions)">
      <p id="form-alert" style="text-align: center; font-size: 1.5rem;"></p>

      <form id="login-form" th:action="${@rsvp.authenticationUrl}" method="post">
        <div class="fields">
          <div class="field">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" required>
          </div>

          <div class="field">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required>
          </div>
        </div>

        <ul class="actions">
          <li><input type="submit" value="Log In" class="primary"></li>
        </ul>
      </form>

      <form id="rsvp-form" th:action="${@rsvp.repliesUrl}" method="post">
        <div class="fields">
          <div class="field">
            <label for="attending">Will you Be Attending?</label>
            <select id="attending" name="attending" required>
              <option></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>

          <div th:each="question : ${questions}" class="field">
            <label class="question" th:if="${question.type != 'title'}" th:for="${question.name}"
                   th:text="${question.label}"></label>

            <input class="question" th:if="${question.type == 'text'}" th:id="${question.name}"
                   th:name="${question.name}" type="text" th:data-required="${question.required}">

            <select class="question" th:if="${question.type == 'select'}" th:id="${question.name}"
                    th:name="${question.name}" th:data-required="${question.required}">
              <option></option>
              <option th:each="option : ${question.options.keySet()}" th:value="${option}"
                      th:text="${question.options.get(option)}"></option>
            </select>

            <textarea class="question" th:if="${question.type == 'textBox'}" th:id="${question.name}"
                      th:name="${question.name}" th:data-required="${question.required}"></textarea>

            <h3 class="question" th:if="${question.type == 'title'}" th:text="${question.label}"></h3>
          </div>
        </div>

        <ul class="actions">
          <li><input type="submit" value="Send Reply" class="primary"></li>
          <li><input id="cancel" type="button" value="Cancel"></li>
        </ul>
      </form>

      <button id="reload">OK</button>
    </div>
  </body>
</html>